@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 70px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 240px;
  overflow: visible;
}

.main-menu {
  background: #2693C9;
  border-right: 1px solid #EBF9FF;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width 0.3s ease;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 240px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #EBF9FF;
  font-family: arial;
  font-size: 16px;
  font-weight: 590;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #EBF9FF;
  background-color: #133C55;
}

.sideoff {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  padding-left: 60px;
}

.main-menu:hover+.sideoff {
  margin-left: 250px;
}

.area {
  float: left;
  background: #EBF9FF;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.dashboard-title {
  position: relative;
  display: none;
  transition: opacity 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #EBF9FF;
}

.dashboard-title span::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EBF9FF;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-menu:hover .dashboard-title {
  display: block;
  opacity: 1;
}

.main-menu:hover .dashboard-title span::after {
  opacity: 1;
}


@media (max-width: 768px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
}

.nav-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main-menu:hover .nav-text {
  opacity: 1;
}
