body {
    background-color: #ebf9ff;
}

nav {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #2693c9;
}

nav a {
    text-decoration: #ebf9ff;
    color: #ebf9ff;
}

a {
    text-decoration: none;
    color: #000000;
}

.sizeslide {
    height: auto;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
    z-index: 1;
}

.carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: 0;
}

.desc {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
}

.sidelist {
    padding: 80px;
}

.listitem2 {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.itempopular .list-group-item {
    padding-bottom: 15px;
    border-top: 1px solid #000000;
    position: relative;
}

.list-group-item::before {
    content: "• ";
    position: absolute;
    left: -20px;
}

.hak {
    padding: 40px;
    color: #ebf9ff;
    background-color: #386fa4;
}

.logok {
    display: flex;
    padding-left: 8%;
    align-items: center;
}

.logok img {
    width: 94px;
    margin-right: 10px;
}

.logok p {
    color: #ebf9ff;
    font-size: 50px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.hak2 {
    color: #ebf9ff;
    background-color: #2693c9;
}

.comments-section {
    margin-top: 20px;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.comment-item {
    border: 1px solid #3498db;
    margin-bottom: 15px;
    padding: 10px;
}

.comment-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-name {
    color: #3498db;
}

.comment-date {
    color: #888;
    margin-left: 10px;
}

.comment-content {
    margin-top: 5px;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    text-align: center;
}

.text-overlay h4 {
    margin: 0;
}

.img-container {
    overflow: hidden;
    width: 95%;
    margin: auto;
}

.img-container img {
    width: 100%;
    transition: transform 0.5s;
}

.img-container img:hover {
    transform: scale(1.1);
}

.sidemore {
    display: flex;
    flex-wrap: wrap;
}

.recent-item-container {
    display: flex;
    margin-bottom: 10px;
}

.text-container {
    flex: 1;
    padding-left: 10px;
}

.img-zoomin {
    transition: 0.5s;
}

.img-zoomin:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-grow: 1;
    }

    .navbar-toggler {
        order: -1;
    }

    .title {
        order: 0;
        flex-grow: 1;
        text-align: center;
    }

    .navbar-nav,
    .title,
    .title a {
        margin-right: 0 !important;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .navbar-collapse {
        flex-basis: 100%;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .hak {
        flex-direction: column;
        align-items: center;
    }

    .kontak,
    .social {
        text-align: center;
        padding-left: 0;
        margin-top: 20px;
    }

    .logok,
    .kontak,
    .social {
        width: 100%;
    }

    .content,
    .sidebar {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .sidebar {
        padding-top: 0;
    }

    .listitem2 {
        padding: 2% 2% 3%;
    }

    .comment-item {
        width: 100%;
    }

    .comment-content {
        word-wrap: break-word;
    }

    form {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .d-flex.justify-content-end {
        justify-content: start;
    }

    .social {
        display: none;
    }

    .img-container {
        width: 100%;
        height: 350px;
        padding: 3%;
    }
}

@media (min-width: 1000px) {
    .comment-item {
        width: 30%;
    }

    form {
        width: 30%;
    }

    textarea {
        width: 30%;
    }
}

.modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-structor {
    background-color: transparent;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.form-structor {
    background-color: #222;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        opacity: 0.8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 500px;
        background-image: url("http://127.0.0.1:8000/img/ga.png");
    }

    .signup {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        -webkit-transition: all 0.3s ease;

        &.slide-up {
            top: 5%;
            -webkit-transform: translate(-50%, 0%);
            -webkit-transition: all 0.3s ease;
        }

        &.slide-up .form-holder,
        &.slide-up .submit-btn {
            opacity: 0;
            visibility: hidden;
        }

        &.slide-up .form-title {
            font-size: 1.3em;
            cursor: pointer;
        }

        &.slide-up .form-title span {
            margin-right: 5px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;
        }

        .form-title {
            color: #fff;
            font-size: 1.7em;
            text-align: center;

            span {
                color: rgba(0, 0, 0, 0.4);
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.3s ease;
            }
        }

        .form-holder {
            border-radius: 15px;
            background-color: #fff;
            overflow: hidden;
            margin-top: 50px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;

            .input {
                border: 0;
                outline: none;
                box-shadow: none;
                display: block;
                height: 45px;
                line-height: 30px;
                padding: 8px 15px;
                border-bottom: 1px solid #eee;
                width: 100%;
                font-size: 14px;

                &:last-child {
                    border-bottom: 0;
                }

                &::-webkit-input-placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }

        .submit-btn {
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(256, 256, 256, 0.7);
            border: 0;
            border-radius: 15px;
            display: block;
            margin: 15px auto;
            padding: 15px 45px;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;

            &:hover {
                transition: all 0.3s ease;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }

    .login {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 5;
        -webkit-transition: all 0.3s ease;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: -20px;
            -webkit-transform: translate(-50%, 0);
            background-color: #fff;
            width: 200%;
            height: 250px;
            border-radius: 50%;
            z-index: 4;
            -webkit-transition: all 0.3s ease;
        }

        .center {
            position: absolute;
            top: calc(50% - 10%);
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            width: 65%;
            z-index: 5;
            -webkit-transition: all 0.3s ease;

            .form-title {
                color: #000;
                font-size: 1.7em;
                text-align: center;

                span {
                    color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease;
                }
            }

            .form-holder {
                border-radius: 15px;
                background-color: #fff;
                border: 1px solid #bebebe;
                overflow: hidden;
                margin-top: 50px;
                opacity: 1;
                visibility: visible;
                -webkit-transition: all 0.3s ease;

                .input {
                    border: 0;
                    outline: none;
                    box-shadow: none;
                    display: block;
                    height: 45px;
                    line-height: 30px;
                    padding: 8px 15px;
                    border-bottom: 1px solid #bebebe;
                    width: 100%;
                    font-size: 14px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &::-webkit-input-placeholder {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .submit-btn {
                background-color: #6b92a4;
                color: rgba(256, 256, 256, 0.7);
                border: 0;
                border-radius: 15px;
                display: block;
                margin: 15px auto;
                padding: 15px 45px;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
                opacity: 1;
                visibility: visible;
                -webkit-transition: all 0.3s ease;

                &:hover {
                    transition: all 0.3s ease;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }

        &.slide-up {
            top: 90%;
            -webkit-transition: all 0.3s ease;
        }

        &.slide-up .center {
            top: 10%;
            -webkit-transform: translate(-50%, 0%);
            -webkit-transition: all 0.3s ease;
        }

        &.slide-up .form-holder,
        &.slide-up .submit-btn {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
        }

        &.slide-up .form-title {
            font-size: 1.2em;
            margin: 0;
            padding: 0;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
        }

        &.slide-up .form-title span {
            margin-right: 5px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;
        }
    }
}
